body{
    background-color: rgb(76, 73, 239);
    color: rgb(129, 169, 220);
     font-family: "Caveat", cursive;
     margin: 0px;
}
header{
    font-size: 80px;
    text-align: center;
    border:  inset border. 5px color(srgb rgb(70, 107, 255) );
}
h1{
    font-size: 35px;
}
p{
    font-size: 34px;
}

section{
background-color: rgb(0, 0, 77);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}chamada-text{
    margin-right: 10%;
}


